extends layout

block content
  .container
    h1 Ram
    ul
      li I am 25 years old
      li I live in Barrie
      li I was born in India
      li I am Lokesh's friend
      li I am studying in Georgian College
    